
<!DOCTYPE html>
<html>
<head>
<link rel=”stylesheet” type=”text/css” href=”/style.css” />


<body style="background-color:#C0C0C0">

      <h1 style="text-align:center; font-family:courier;">---Battle!---</h1>
      <h2 style="text-align:center; font-family:courier;">Enter your names</h2>
      <form style="text-align:center; font-family:courier;" method="post" action="/names">
        <label for="p1">
         Player 1 name
        <input name=p1 type=text />
        </label>
        <label for="p2">
         Player 2 name
         <input name=p2 type=text />
       </label>
        <input type="submit" value="Submit" />
        </form>
        <div>
        </div>
        <center>
        <img
        style = "width:400px;height:400px; padding: 2em 0 2em 0;"
        src='https://www.viral-kittens.com/m/en/476/lord-of-the-ring-battle-cats-gandalf-sauron-r-default.webp'
        />
      </center>
</head>

</body>
