<body style="background-color:#C0C0C0">

<h1 style="text-align:center; font-family:courier;">--Let Battle commence!---</h1>
<h2 style="text-align:center; font-family:courier;"><%="#{@p1.upcase}"%> V <%="#{@p2.upcase}"%> </h2>

<center>
<img
style = "padding: 2em 0 2em 0; width:400px;height:400px;" align=middle
src='https://www.viral-kittens.com/m/en/476/lord-of-the-ring-battle-cats-gandalf-sauron-r-default.webp'
/>
</center>
</body>
